# 使用 Pandas 了解數據

任何機器學習的第一步都是熟悉自己的數據。 為此我們使用Pandas函式庫。 Pandas是科學家用來探索和處理數據的主要工具。 大多數人在其代碼中將panda縮寫為 `pd` 。 我們使用命令執行此操作

In [2]:
import pandas as pd

Pandas函式庫中最重要的部分是 **DataFrame** 。 DataFrame包含我們可能認為是數據類型的資料表。 這類似於Excel中的工作表或SQL資料庫中的資料表。

Pandas具有強大的方法，可用於處理此類數據。

例如，我們將查看澳大利亞墨爾本的[房價數據](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot)。 在實作練習中，您將對新數據集應用相同的過程，該數據集的價格位於愛荷華州。

範例（墨爾本）數據位於文件路徑中<br><br>
`
../input/melbourne-housing-snapshot/melb_data.csv
`

我們使用以下命令加載和瀏覽數據：

In [4]:
# save filepath to variable for easier access
melbourne_file_path = './data_set/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 
# print a summary of the data in Melbourne data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

# 解釋數據描述

結果顯示原始數據集中每列有8個數字。 第一個數字（**count計數**）顯示**有多少行具有非缺失值**。

缺失值的原因很多。例如，在測量一間臥室的房子時，不會收集第二間臥室的大小。<br>我們將回到缺少數據的主題。

第二個值是**mean**，即平均值。 在此之下，**std**是標準偏差，它測量數值在數值上的**分散程度**。

要解釋**min(最小值)**，**25％**，**50％**，**75％**和**max(最大值)**，請想像從最低值到最高值對每列進行排序。 第一個（最小）值是 **min**。 如果您瀏覽列表的四分之一，則會發現一個數字，該數字大於值的25％，小於值的75％。 那是**25％**的值（讀作“ 25th percentile 25個百分位數”）。 第50個百分位數和第75個百分位數的定義類似，**max**是最大數。